:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  --background-color: rgb(209, 245, 168);
  --fancy-font-color: rgb(62, 180, 151);
  --overlay-color: #e7f1de;
}
body.dark {
  /**--background-color: rgb(83, 117, 104);
  --fancy-font-color: rgb(165, 204, 121);
  --overlay-color: #fdfff0;**/
  --background-color: rgb(60, 133, 114);
  --fancy-font-color: rgb(174, 209, 134);
  --overlay-color: #636657;
}

